svg {
    width: 600px;
    height: 600px;
}
.pie {
    fill: orange;
    stroke: white;
}
.pieNum {
    font-size: 9pt;
    text-anchor: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.total {
    font-size: 12pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}